<h1 mat-dialog-title>Order Change Dialog</h1>
<div mat-dialog-content>
  <p>Product name</p>
  <mat-form-field appearance="fill">
    <mat-label>Product Name</mat-label>
    <input matInput [(ngModel)]="data.productName">
  </mat-form-field>
  <p>Product Description</p>
  <mat-form-field appearance="fill">
    <mat-label>Product Description</mat-label>
    <input matInput [(ngModel)]="data.description">
  </mat-form-field>
  <p>Product Price</p>
  <mat-form-field appearance="fill">
    <mat-label>Product Price</mat-label>
    <input matInput [(ngModel)]="data.price">
  </mat-form-field>
  <p>Product ImageUrl</p>
  <mat-form-field appearance="fill">
    <mat-label>Product ImageUrl</mat-label>
    <input matInput [(ngModel)]="data.imageURL">
  </mat-form-field>
</div>
<div mat-dialog-actions style="display: flex; position: absolute; right: 0;">
  <button mat-button [mat-dialog-close]="submit()" cdkFocusInitial>Submit</button>
  <button mat-button style="background-color: #c2185b;" (click)="onClose()">Cancel</button>
</div>