<nav class="main-menu">
    
    <div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="User Photo">

        <p class="user-text">{{userView.userInfo.name}}</p>
        <p class="user-text">{{"Level"}} {{userView.userInfo.level}}</p>
        <p *ngIf="!userUpdatedBalance" class="user-text">Balance: {{userView.userInfo.balance}}$</p>
        <p *ngIf="userUpdatedBalance" class="user-text">Balance: {{userUpdatedBalance}}$</p>
    </div>

  <ul>
      <li>
          <a href="main">
              <mat-icon class="fa fa-home fa-2x">done_all</mat-icon>
              <span class="nav-text">
                Available menu
              </span>
          </a>
        
      </li>
      <li *ngIf="userView.userInfo.role === role.USER" class="has-subnav">
          <a href="basket">
              <mat-icon class="fa fa-globe fa-2x">shopping_basket</mat-icon>
              <span class="nav-text">
                  Basket
              </span>
          </a>
          
      </li>
      <li *ngIf="userView.userInfo.role === role.USER" class="has-subnav">
        <a href="nfts">
            <mat-icon class="fa fa-globe fa-2x">redeem</mat-icon>
            <span class="nav-text">
                Collected Nfts
            </span>
        </a>
        
    </li>
      <li *ngIf="userView.userInfo.role === role.ADMIN" class="has-subnav">
        <a style="cursor: pointer;" (click)="openDialog()">
          <mat-icon class="fa fa-globe fa-2x">add_circle</mat-icon>
            <span class="nav-text">
               Create Order
            </span>
        </a>
        
    </li>

    <li *ngIf="userView.userInfo.role === role.USER" class="has-subnav">
        <a style="cursor: pointer;" (click)="increaseBalance()">
          <mat-icon class="fa fa-globe fa-2x">wallet</mat-icon>
            <span class="nav-text">
               Top up balance
            </span>
        </a>
        
    </li>
  </ul>

  <ul class="logout">
      <li>
         <a (click)="logout()" style="cursor: pointer;">
               <mat-icon class="fa fa-power-off fa-2x">power_settings_new</mat-icon>
              <span class="nav-text">
                  Logout
              </span>
          </a>
      </li>  
  </ul>
</nav>