<section>
  <app-header-component></app-header-component>
  <app-side-nav></app-side-nav>

   <div fxLayout='row wrap'>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let product of products$ | async">
    <mat-card class="example-card mat-elevation-z4" style="margin-top:100px;">
      <mat-card-header>
        <mat-card-title class="txt-family" style="margin-bottom: 10px; font-weight: bold;">{{product.productName}}</mat-card-title>
      </mat-card-header>
      <img style="min-height: 250px; max-height: 250px;" mat-card-image [src]='product?.imageURL' alt="">
      <mat-card-content>
        <p class="txt-family" style="font-size: medium;">
          {{product?.description}}
        </p>

        <p class="txt-family" style="font-size: large;">
          Price: {{product?.price}}$
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="userView.userInfo.role === role.USER" class="action-btn" style="margin-right: 3px;" mat-button (click)="addToBasket(product.id)">Basket</button>
        <button *ngIf="userView.userInfo.role === role.ADMIN" class="action-btn" style="margin-right: 3px;" (click)="changeProduct(product)" mat-button>Change</button>
        <button *ngIf="userView.userInfo.role === role.ADMIN" class="delete-btn" (click)="removeProduct(product.id)" mat-button>Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
 </div> 
</section>
