<h1 mat-dialog-title>Top Up User Balance Dialog</h1>
<div mat-dialog-content>
  <p>Top Up Price</p>
  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput [(ngModel)]="data">
  </mat-form-field>
</div>
<div mat-dialog-actions style="display: flex; position: absolute; right: 0;">
  <button mat-button [mat-dialog-close]="submit()" cdkFocusInitial>Submit</button>
  <button mat-button style="background-color: #c2185b;" (click)="onClose()">Cancel</button>
</div>
