.example-card {
    max-width: 400px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-right: 40px;
  }
  
  .example-header-image {
    background-size: cover;
  }

  .txt-family {
    font-size:x-large;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
    color:whitesmoke;
 }

  .main-txt {
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    position: fixed;
    top: 100px;
    margin-left: 800px;
    margin-bottom: 300px;
  }