<section>
  <app-header-component></app-header-component>
  <app-side-nav></app-side-nav>

   <div fxLayout='row wrap'>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let nft of nfts$ | async">
    <mat-card class="example-card mat-elevation-z4" style="margin-top:100px;">
      <mat-card-header>
        <mat-card-title class="txt-family" style="margin-bottom: 10px; font-weight: bold;">{{nft.nameToken}}</mat-card-title>
      </mat-card-header>
      <a href="{{nft.url}}">
        <img style="min-height: 250px; max-height: 250px;" mat-card-image [src]='nft.ipfsUrl' alt="">
      </a>
    </mat-card>
  </div>
 </div> 
</section>
