<section>
  <div class="top-nav">
  <mat-toolbar color="primary">
    <span>
      <mat-icon class="colored-icon">restaurant</mat-icon>
    </span>
    <span class="text">Food Delivery</span>
    <span class="fill-remaining-space"></span>
    <button *ngIf="buttonActions === true" mat-button 
    (click)="openDialog()"
    class="text btn btn-white btn-animate" 
    style="display: flex; position: absolute; right: 10px;">Order</button>
  </mat-toolbar> 
</div>
</section>
