.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#28313B, #485461);
}

mat-card {
    min-width: 400px;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }

  .main-image {
    /* // flex fixed h-full w-full */
      display: flex;
      position: fixed;
      align-content: center;
      width: 50%;
      height: 50%;
      border-radius: 50%;  
 }

 .form-text {
    font-size: small;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
    color:#999;
    margin-left: 10px;
    margin-bottom: 10px;
 }

 .register-text {
  font-size: small;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
    color: #c2185b;
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
 }

 .error-txt {
  font-size: medium;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 10px;
 }
 