<section>
<div class="main-div">
  <img class="main-image" src="https://img.freepik.com/premium-photo/various-mexican-food-dark-background_23-2147740705.jpg?w=2000">
<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <ng-container *ngIf="!currentView; else signUp">
        <h2 style="color:antiquewhite">Log In</h2>
        <mat-form-field>
          <input matInput placeholder="Email" name="email" formControlName="Email" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" name="password" formControlName="Password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <mat-error class="error-txt" *ngIf="error">
          Wrong User Name or Password
         </mat-error>
        <button mat-raised-button color="primary" (click)="login()">Login</button>
        <p>
          <span class="form-text">No Account?</span>
          <span class="register-text" (click)="formView()">Register</span>
        </p>
      </ng-container>
     
       <ng-template #signUp>
        <h2 style="color:antiquewhite;">Sign Up</h2>
        <mat-form-field>
          <input matInput placeholder="Email" name="email" formControlName="Email" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Name" name="name" formControlName="Name" required>
          <mat-error>
            Please provide a valid name
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Location" name="location" formControlName="Location" required>
          <mat-error>
            Please provide a valid location
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Ethereum Address" name="ethereumAddress" formControlName="EthereumAddress" required>
          <mat-error>
            Please provide a valid ethereum address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" name="password" formControlName="Password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <mat-error class="error-txt" *ngIf="error">
          User already exists
         </mat-error>
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="register()">Register</button>
        <p>
          <span class="form-text">Already have an account account?</span>
          <span class="register-text" (click)="formView()">Login</span>
        </p>
       </ng-template>
    </form>
  </mat-card-content>
</mat-card>
</div>
</section>