<h3 mat-dialog-title>The price of basket is {{basketPrice}}$</h3>
<div mat-dialog-content>
  <span>If you wish to proceed the purchase please submit</span>
  <small class="text-danger"
        *ngIf="invalid()"
        style="color: #c2185b;">
        Unfortunately you don't have enough money for purchase, please top up your balance
    </small>
</div>
<div mat-dialog-actions style="display: flex; position: absolute; right: 0;">
  <button mat-button [disabled]="invalid()" [mat-dialog-close]="submit()" cdkFocusInitial>Submit</button>
  <button mat-button style="background-color: #c2185b;" (click)="onClose()">Cancel</button>
</div>