.example-card {
    max-width: 400px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-right: 40px;
  }
  
  .example-header-image {
    background-size: cover;
  }

  .action-btn {
    background-color: #c2185b;
    text-overflow: ellipsis;
  }

  .txt-family {
    font-size:x-large;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
    color:whitesmoke;
 }

  .delete-btn {
    background-color:crimson;
  }

  .main-txt {
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    position: fixed;
    top: 100px;
    margin-left: 800px;
    margin-bottom: 300px;
  }

  .button-container {
    display: flex;
    justify-content: left;
    width: 120px;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    margin-top: 3px;
  }
  
  .crement-btn {
    background-color:crimson;
    border-radius: 50%;
  }