<section>
  <app-header-component [buttonActions]="true"></app-header-component>
  <app-side-nav></app-side-nav>

   <div fxLayout='row wrap'>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let product of products$ | async">
    <mat-card class="example-card mat-elevation-z4" style="margin-top:100px;">
      <mat-card-header>
        <mat-card-title class="txt-family" style="margin-bottom: 10px; font-weight: bold;">{{product.productName}}</mat-card-title>
      </mat-card-header>
      <img style="min-height: 250px; max-height: 250px;" mat-card-image [src]='product?.imageURL' alt="">
      <mat-card-content>
        <p class="txt-family" style="font-size: medium;">
          {{product?.description}}
        </p>
        <span>Amount: {{product.amountInBasket}}</span>
        <div class="button-container">
          <button mat-mini-fab class="cremenet-btn" value="Save" (click)="increment(product)">+</button>
          <button mat-mini-fab class="cremenet-btn" value="Save" (click)="decrement(product)">-</button>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="action-btn" style="margin-right: 3px;" mat-button (click)="sendOrders(product.id, product.amountInBasket)">Save</button>
        <button class="delete-btn" (click)="removeProductFromBasket(product.id)" mat-button>Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
 </div> 
</section>